body {
  text-align: center;
  background: #f2f6f8;
}

h1 {
  color: rgb(0, 0, 177);
  font-size: 8vh;
  margin: 0;
}

h2 {
  color: rgb(0, 0, 177);
  font-size: 5vh;
  margin-top: 0;
  margin-bottom: 4vh;
}

.correct {
  border: 2px solid green;
}

.coveredImage { 
  width:100%;
  height:100%; 
  position:absolute;
  top:0px;
  left:0px;
}

.choices {
  color: green;
  font-size: 3vh;
}

.coveringCanvas { 
  width:100%;
  height:100%; 
  position:absolute;
  top:0px;
  left:0px;
  display: inline-grid;
  background-color: rgba(255,0,0,.1);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.incorrect {
  border: 2px solid red;
}

.insideWrapper { 
  width:100%;
  height:100%; 
  position:relative;
}

.invisible {
  display: none;
}

.outsideWrapper { 
  width: 600px;
  margin-top: 4vh;
  height: 450px;
  display: inline-block;
  border:1px solid blue;
}

.selected {
  border: 1px dashed black;
}

.timer {
  color: rgb(0, 0, 177);
  font-size: 4vh;
}

.visible {
  left: 50%;
  margin-left: 300px;
  margin-top: 4vh;
  position: absolute;
}

.winMessage {
  background-color: #f2f6f8;
  color: rgb(255, 136, 0);
  font-size: 10vh;
  left: 50%;
  margin-left: -301px;
  position: absolute;
  width: 602px;
  z-index: 20;
}

#subtitle {
  text-align: center;
}

#title {
  text-align: center;
}